* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono';
}

html {
    overflow-x:hidden;
}

body #content {
  display: block;
}
p {
  margin-bottom: 0.5em;
  text-align: center;
}
b, strong {
  font-weight: 700;
}
img {
  height: auto;
  max-width: 100%;
}

#site-navigation {
    display: none;
}

#wager {
    color: #a2a2a2;
    padding: 0px;
    margin-bottom: -18px;
    margin-top: -5px;
    text-align: left;
    font-style: italic;
    font-size: 11px;
}
#deposit {
    color: #a2a2a2;
    padding: 0px;
    margin-bottom: -18px;
    margin-top: 2px;
    text-align: left;
    font-style: italic;
    font-size: 11px;
}
@media only screen and (max-width: 600px) {
    #deposit {
        text-align: center;
        margin: 5px;
    }
    #wager {
        text-align: center;
    }
}

body.mp-template {
    position:relative;
    /* background-color: #212121; */
    /* background: linear-gradient(45deg, #fff 10%, #0ea808 90%); */
    /* background: radial-gradient(ellipse at top, #e66465, transparent), radial-gradient(ellipse at bottom, #4d9f0c, transparent); */
    background-image: radial-gradient(farthest-corner at 320px 60px, #0d6efd 0%, #ff0018 100%);
}
body.mp-template::before {
    content: "";
    position:absolute;
    width:100%;
    height:100%;
    opacity:0.1;
    background-image: url(../images/mp/background/chips-3-min.png);
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
}

body #page {
    padding:0px !important;
}
@media only screen and (max-width:1400px) {
    body #page {
        max-width: 100%;
    }
    #main-custom .banner .container {
        max-width: 100%;
    }
}

body #content #main-custom {
  padding: 0px;
}

/******** Top Banner Section ********/
#main-custom .banner, #main-custom .bottom-section {
    /* background-image: url(../images/mp/background/roulette2343-min.jpg); */
    background-position: center center;
    background-size: cover;
}

#main-custom .banner {
    width: 100%;
    background-size: cover;
    /* min-height: 300px;*/
    height: auto;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-custom .banner .container {
    padding: 0px 20px;
    position:relative;
}
#main-custom .banner .container:before {
    content:"";
    position:absolute;
    width: 100%;
    height:100%;
    /* background-color:rgba(0,0,0,0.5); */
    z-index: 0;
    left:0;
}

#main-custom .banner .banner-title {
    padding-top: 20px;
    position:relative;
}
#main-custom .banner .banner-title img.banner-logo {
    width: 40px;
    /* float: left; */
    margin: 0px 0px 10px 0px;
}
#main-custom .banner .banner-title h1 {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}
@media only screen and (max-width:500px) {
    #main-custom .banner .banner-title img.banner-logo {
        width: 40px;
        margin: -5px 0px 0px 0px;
    }
    #main-custom .banner .banner-title h1 {
        font-size: 24px;
    }
}
#main-custom .banner .banner-title h1 b {
    font-weight: 800;
}
#main-custom .banner .banner-content {
    color: #fff;
    padding: 5px 0px;
    position:relative;
}

/******** Featured 4 Games Section ********/


/******** Listed Games Section ********/
#main-custom .listed-bonus-reviews-sec {
    margin-top: 20px;
}
#main-custom .listed-bonus-reviews-sec .container {
    max-width: 100%;
}

#main-custom .listed-bonus-reviews-sec .section-header {
    display: flex;
}

#main-custom .listed-bonus-reviews-sec .section-header, #main-custom .listed-bonus-reviews-sec .section-description {
    color: #fff;
    font-family: "Roboto Mono", sans-serif;
}

#main-custom .listed-bonus-reviews-sec .section-header .icon {
    margin-right: 15px;
}

#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields {
    display: flex;
    background-color:#fff;
    margin-bottom: 15px;
    border: solid 1px #358719;
    /* border-radius: 10px; */
    transition: all 0.5s ease;
    transform: scale(1);
}
#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields:hover {
    /* transform: scale(1.02); */
}

#main-custom .listed-bonus-reviews-sec .list-ribbon {
    background-color: #358719;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    padding: 4px 1px 4px 1px;
    position: absolute;
    z-index: 1;
    left: 13px;
    right:auto;
    top: -13px;
    box-shadow: 0px 3px 10px #000;
}
#main-custom .listed-bonus-reviews-sec .list-ribbon:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: calc(0% - 26px);
    top: 0px;
    border-width: 13px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #358719;
}
#main-custom .listed-bonus-reviews-sec .list-ribbon:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: calc(100%);
    top: 0px;
    border-width: 13px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #358719;
    
}

#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .logo-wraper {
    /* border-radius: 10px 0px 0px 10px; */
    position: relative;
    padding: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .logo-wraper .geo-flag {
    position: absolute;
    right: -18px;
    bottom: calc(50% - 18px);
    width: 36px;
    height: auto;
    z-index: 1;
    transition: all 0.5s ease;
    transform: scale(0);
    /* box-shadow: 0px 0px 5px 1px rgba(13, 110, 253, 0.75); */
}
#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields:hover .logo-wraper .geo-flag {
    transform: scale(1);
}

#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .logo-wraper a.game-logo:before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    left: -15px;
    top: 50%;
    transform: translate(0, -50%);
    /* background-image: url(../images/secure-1.png); */
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
}
#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .logo-wraper a.game-logo .list-flag {
    position: absolute;
    width: 37px;
    height: 25px;
    left: auto;
    right: -20px;
    top: 50%;
    bottom: auto;
    transform: translate(0, -50%);
    z-index: 1;
}
#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .logo-wraper a.game-logo img.list-logo {
    max-width: 80%;
    display: block;
    margin: auto;
    max-height: 100px;
    object-fit: contain;
    transition: all 0.5s ease;
    transform: scale(1);
}
#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields:hover .logo-wraper a.game-logo img.list-logo {
    transform: scale(1.2);
}

#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper {
    background: linear-gradient(90deg, #f2f2f2, #f8f8f8);
    display: flex;
    width: 80%;
    padding-left: 1%;
    /* border-radius: 0px 10px 10px 0px; */
}
#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper > div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-bonus-wraper .bonus-offer-1, #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-bonus-wraper .bonus-offer-2 {
    font-weight: 600;
}

#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-bonus-wraper .bonus-amount {
    font-size: 32px;
    color: #0d6efd;
    font-weight: 600;
}

#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-star-rating-wraper {
    position: relative;
}

@media only screen and (min-width: 768px) {
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-star-rating-wraper:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 70%;
        /* background: #ddd; */
        left: 0px;
        margin: auto;
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-star-rating-wraper:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 70%;
        /* background: #ddd; */
        right: 0px;
        margin: auto;
    }
}

#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-star-rating-wraper .star-rating {
    max-width: 120px;
    margin: 5px auto;
}

#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-star-rating-wraper span.title {
    color: #000;
    font-weight: 700;
    font-family: "Roboto Mono", sans-serif;
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: 0.em;
    margin: 0 0 5px;

    -webkit-animation: glow-1 0.5s ease-in-out infinite alternate;
    -moz-animation: glow-1 0.5s ease-in-out infinite alternate;
    animation: glow-1 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow-1 {
    from {
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #009727, 0 0 1px #009727, 0 0 1px #009727;
    }
    to {
        text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #009727, 0 0 12px #009727, 0 0 15px #009727;
    }
}

#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-star-rating-wraper span.percent {
    color: #198788;
    font-size:14px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.1;
    margin: 10px 0 0px;
}

#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-description-wraper ul.description-lists {
    margin: 0px 10px;
    padding-left: 10px !important;
}
#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-description-wraper ul.description-lists li {
    list-style-type: square;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;
    text-align: left;
}
#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-description-wraper ul.description-lists li::marker {
    /* color:#198788; */
}
#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-description-wraper ul.description-lists li:before {
    background-image: url(../images/Flag-Finland-circle.png);
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: -15px;
    top: 2px;
    background-size: contain;
    background-repeat: no-repeat;
}

#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .button-wraper a {
    background-color: #358719;
    padding: 10px 30px;
    border-radius: 0px;
    border: solid 1px #fff;
    text-align: center;
    text-decoration:none;
    font-weight: 600;
    font-size: 18px;
}
#main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .button-wraper a:hover {
    /* background: linear-gradient(45deg, #fff 10%, #0ea808 90%); */
    background-color: #215b0d;
}
#main-custom .listed-bonus-reviews-sec section.list-1 .content-wrapper .button-wraper a span.play-btn {
    color: #fff;
    text-transform: uppercase;
    /* -webkit-animation: glow-btn 0.5s ease-in-out infinite alternate;
    -moz-animation: glow-btn 0.5s ease-in-out infinite alternate;
    animation: glow-btn 0.5s ease-in-out infinite alternate; */
}
@-webkit-keyframes glow-btn {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #35871988, 0 0 4px #358719cc, 0 0 5px #358719;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff000088, 0 0 20px #ff0000cc, 0 0 25px #ff0000;
    }
}
#main-custom .listed-bonus-reviews-sec section.list-1 .content-wrapper .button-wraper a span.play-btn i {
    margin-left:10px;
}

@media only screen and (max-width: 767px) {
    #main-custom .banner .banner-content {
        padding:0px 0px 0px 0px;
    }
    #main-custom .listed-bonus-reviews-sec .section-header {
        display: block;
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields {
        flex-direction: column;
        /* border-radius: 10px; */
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .logo-wraper {
        width: 100% !important;
        /* border-radius: 10px 10px 0px 0px; */
        padding-top:20px;
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .logo-wraper:after {
        content: "";
        position: absolute;
        width: 95%;
        height: 2px;
        background: #ddd;
        bottom: -5px;
        margin: auto;
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .logo-wraper .geo-flag {
        position: absolute;
        right: auto;
        left: calc(50% - 18px);
        bottom: -18px;
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .logo-wraper a.game-logo:before {
        left: auto;
        right:0%;
        top: -15px;
        transform: translate(-50%, 0);
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .logo-wraper a.game-logo .list-flag {
        left: 50%;
        top: auto;
        bottom: -12px;
        transform: translate(-50%, 0);
    }
    
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .logo-wraper a.game-logo .list-logo {
        max-height: 60px !important;
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper {
        display: block;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        padding-left: 0;
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper > div {
        width: 100%;
    }
    
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper div.review-bonus-wraper {
        width: 50%;
        float: inline-end;
        min-height: 160px;
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper div.review-star-rating-wraper {
        width: 50%;
        float: inline-start;
        min-height: 160px;
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper div.review-star-rating-wraper span.title {
        font-size:24px;
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper div.review-star-rating-wraper span.percent {
        font-size:14px;
    }
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper div.button-wraper a {
        padding: 8px 40px;
    }
}

@media only screen and (max-width: 767px) {
    #main-custom .listed-bonus-reviews-sec section.game-review_custom-fields .content-wrapper .review-star-rating-wraper:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 50%;
        background: #ddd;
        right: 0px;
        margin: auto;
    }
}

@media only screen and (max-width: 579px) {
    .bonus-amount {
        font-size: 24px !important;
    }
}

/******** page Bottom Section ********/
#main-custom .bottom-section {
    display: block;
    position:relative;
}
#main-custom .bottom-section:before {
    content:"";
    position:absolute;
    width: 100%;
    height:100%;
    /* background-color:rgba(0,0,0,0.5); */
    z-index: 0;
    left:0;
}

#main-custom .bottom-section-container {
    width: 100%;
    margin: auto;
    padding: 30px 20px;
    position:relative;
}

#main-custom .bottom-title h2 {
    color: #fff;
    text-align: center;
}
#main-custom .bottom-content {
  color: #fff;
  text-align: center;
  font-size:14px;
}

/******** Footer ********/
footer.site-info {
    padding: 10px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-size: 15px;
    display: block;
    width: 100%;
}
footer p {
  color: #000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
footer .footer-bottom {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-bottom .left-sec {
  text-align: center;
}
footer .footer-bottom .right-sec {
  text-align: center;
}
footer .bga {
  text-align: center;
  padding: 20px;
}
footer .bga img {
  max-width: 100%;
  height: 32px;
  margin: 10px;
}
footer .bga .plusplus {
  height: 44px;
  margin: 4px;
}

